.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 60px, 150px;
}

.services-title {
  position: relative;
}

.services-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 500px;
}

.services-title img {
  position: absolute;
  width: 52px;
  height: 52px;
  bottom: 11px;
  left: -25px;

}

.service-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;

}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 10px;
}

.service-format h3 {
  font-size: 25px;
  font-weight: 500;
}

.service-format h2 {
  font-size: 35px;
  font-weight: 600px;
  background: linear-gradient(90deg, rgba(228, 149, 21, 0.9780287114845938) 0%, rgba(244, 35, 12, 1) 0%, rgba(108, 36, 224, 1) 52%, rgba(11, 201, 236, 0.5634628851540616) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.service-format p {
  color: wheat;
  font-size: 20px;
  line-height: 40px;
  max-width: 250px;
}

.read-more {

  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 10px;
}

.service-format:hover {
  border: 2px solid rgb(211, 28, 89);
  background-image: linear-gradient(0deg, rgba(89, 11, 11, 1) 0%, rgba(101, 91, 11, 1) 100%);
  transform: scale(1.05);
  transition: 0.5s;
}